// _box.scss
// width 정의
.w-25 {
  width: 25%;
}
.w-33 {
  width: 33.33%;
}
.w-50 {
  width: 50%;
}
.w-100 {
  width: 100%;
}

// height 정의
.h-auto {
  height: auto;
}
.h-10 {
  height: 10px;
}
.h-20 {
  height: 20px;
}
.h-30 {
  height: 30px;
}
.h-40 {
  height: 40px;
}
.h-50 {
  height: 50px;
}
.h-60 {
  height: 60px;
}
.h-70 {
  height: 70px;
}
.h-80 {
  height: 80px;
}
.h-90 {
  height: 90px;
}
.h-100 {
  height: 100px;
}
.h-200 {
  height: 200px;
}
.h-300 {
  height: 300px;
}
.h-400 {
  height: 400px;
}
.h-500 {
  height: 500px;
}
.h-600 {
  height: 600px;
}
.h-100-per {
  height: 100%;
}

// padding 정의
.p-10 {
  padding: 10px;
}
.py-10 {
  padding: 10px 0;
}
.px-10 {
  padding: 0 10px;
}
.pt-10 {
  padding-top: 10px;
}
.pr-10 {
  padding-right: 10px;
}
.pb-10 {
  padding-bottom: 10px;
}
.pl-10 {
  padding-left: 10px;
}

.p-20 {
  padding: 20px;
}
.py-20 {
  padding: 20px 0;
}
.px-20 {
  padding: 0 20px;
}
.pt-20 {
  padding-top: 20px;
}
.pr-20 {
  padding-right: 20px;
}
.pb-20 {
  padding-bottom: 20px;
}
.pl-20 {
  padding-left: 20px;
}

.p-40 {
  padding: 40px;
}
.py-40 {
  padding: 40px 0;
}
.pb-40 {
  padding-bottom: 40px;
}

.p-70 {
  padding: 70px;
}
.py-70 {
  padding: 70px 0;
}
.pt-70 {
  padding-top: 70px;
}
.pb-70 {
  padding-bottom: 70px;
}

// margin 정의
.m-10 {
  margin: 10px;
}
.my-10 {
  margin: 10px 0;
}
.mx-10 {
  margin: 0 10px;
}
.mt-10 {
  margin-top: 10px;
}
.mr-10 {
  margin-right: 10px;
}
.mb-10 {
  margin-bottom: 10px;
}
.ml-10 {
  margin-left: 10px;
}

.m-20 {
  margin: 20px;
}
.my-20 {
  margin: 20px 0;
}
.mx-20 {
  margin: 0 20px;
}
.mt-20 {
  margin-top: 20px;
}
.mr-20 {
  margin-right: 20px;
}
.mb-20 {
  margin-bottom: 20px;
}
.ml-20 {
  margin-left: 20px;
}

.mx-auto {
  margin: 0 auto;
}

// border 정의
