// _variables.scss
// 색상 정의(유채색)
$blue: #08f;
$blue-h: #06d;
$red: #e35;
$red-h: #c13;
$primary: #fd0;

// 색상 정의(무채색)
$black: #000;
$gray-1: #111;
$gray-2: #222;
$gray-3: #333;
$gray-4: #444;
$gray-5: #555;
$gray-6: #666;
$gray-7: #777;
$gray-8: #888;
$gray-9: #999;
$gray-a: #aaa;
$gray-b: #bbb;
$gray-c: #ccc;
$gray-d: #ddd;
$gray-e: #eee;
$white: #fff;

// 폰트 크기
$fs-13: 13px;
$fs-14: 14px;
$fs-15: 15px;
$fs-16: 16px;
$fs-17: 17px;
$fs-18: 18px;
$fs-20: 20px;
$fs-24: 24px;
$fs-28: 28px;
$fs-30: 30px;
$fs-32: 32px;

// 반응형 구간 정의
// PC -> Mobile @media (max-width: )
$xl: 1399px;
$lg: 1199px;
$md: 991px;
$sm: 767px;
$xs: 575px;

// Mobile -> PC  @media (min-width: )
// $xl: 1400px;
// $lg: 1200px;
// $md: 992px;
// $sm: 768px;
// $xs: 576px;
